.idea/.idea.CoreCache/.idea/.gitignore
.idea/.idea.CoreCache/.idea/.name
.idea/.idea.CoreCache/.idea/encodings.xml
.idea/.idea.CoreCache/.idea/indexLayout.xml
.idea/.idea.CoreCache/.idea/misc.xml
.idea/.idea.CoreCache/.idea/vcs.xml
